body{
  justify-content: center;
  align-items: center;
  text-align: center;
}
.background{
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0
  left: 0;
  bottom: 0;
  overflow: hidden;
  z-index: -1;
  background-color:  hsl(225, 100%, 94%);
}
h5{
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 900;
  margin: 2% 20%;
  color: hsl(223, 47%, 23%);
}
.main{
  background-color: hsl(225, 100%, 98%);
  height: 90vh;
  width: 350px;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  margin-top: 9px;
}

.card-body{
  margin: 6%;
  align-items: center;
  text-align: center;
  color: hsl(224, 23%, 55%);
}
.plans{
   background-color: #C9CCD5;
   height: 73px;
   width: 82%;
  align-items: left;
  text-align: justify;
  display: inline-flex;
  margin: 0 auto;
  float: none;
   border-radius: 15px;
   padding: 12px;
   padding-bottom: 10px;

}
.plans a{
  padding-left: 20px;
  margin: 0 auto;
  float: none;
  position: relative;
  margin-bottom: 10000px;
}
.text{
  position: relative;
  background-color: black;
  color: #7D8EA8;
}
.spak{
   color: hsl(224, 23%, 55%);
}
.spak h6{
  color: hsl(223, 47%, 23%);
}
.proceed{

  left: 80px;
  bottom: 20px;
  margin-top: 10px;

}
.tu{
  margin-top: 15px;
}
.ti{
  background-color: hsl(245, 75%, 52%);
  color: $blue-600;
}
.attribution{
}
# SecondChallengeOfMentor
